$stonybrook-color: #990000;

.mainContent {
	align-items: center;
}



.introContent {
	text-align: center;
	margin-right: 5%;
	margin-left: 5%;
	p{
		margin-bottom: 2em;
	}
	a{
		text-decoration: none;
		color: $stonybrook-color;
	}
}

.alphabetDivs {
	text-align: center;
	margin-top: 2.5em;
	margin-right: 7%;
	margin-left: 7%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(3em, 1fr));
	justify-self: center;
	grid-column-gap: 1em;
}

.letterDiv {
	margin-top: 1em;
	margin-bottom: 1em;
	border-style: solid;
	border-width: 0px;
	margin-right: 0.5em;
	width: 3em;
	background-color: #ededed;
	border-radius: 50%;
	cursor: pointer;
	-webkit-box-shadow: 10px 0px 110px -39px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 0px 110px -39px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 0px 110px -39px rgba(0, 0, 0, 0.75);
	transition: background-color 0.5s ease-in-out;
	justify-self: center;
	p {
		font-size: 0.9em;
		font-weight: bold;
	}
}

.letterDiv p {
	transition: color 0.5s ease-in-out;
}

.letterDiv:hover p {
	color: white;
}

.letterDiv:hover {
	background-color: $stonybrook-color;
}

section {
	height: max-content;
	margin: 50px;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	margin-bottom: 2em;
	color: black;

	margin-right: 10%;
	margin-left: 10%;

	li {
		margin-left: 2em;
	}
}

.section-title {
	color: white;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	font-style: italic;
	font-weight: bold;
	font-size: 1.5em;
	color: white;
	background-color: $stonybrook-color;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.hidden {
	display: none;
}
