$stonybrook-color: #990000;



.topButton {
	opacity: 0;
	display: flex;
    justify-content: center;
	align-content: center;
	position: fixed;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	background-color: black;
	bottom: 40px;
	right: 15px;
	-webkit-box-shadow: 2px 1px 48px -25px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 2px 1px 48px -25px rgba(0, 0, 0, 0.75);
	box-shadow: 2px 1px 48px -25px rgba(0, 0, 0, 0.75);
	-o-box-shadow: 2px 1px 48px -25px rgba(0, 0, 0, 0.75);
	pointer-events: none;
	color: whitesmoke;
	text-align: center;
	transition: opacity 0.2s ease-in-out;

	&:hover {
		background-color: $stonybrook-color;
	}

	span {
		position: relative;
		top: 9px;
		font-size: 20px;
	}
	
}

.show {
	opacity: 1;
	
	transition: opacity 0.5s ease-in-out;
	pointer-events: all;
	cursor: pointer;
}